:root {
    --primary: #ff9a8b;
    --secondary: #ebbfc8;
    --accent: #ff99ac;
    --background: rgb(230, 230, 230);
    --text: #585858;
    --navcolor: rgb(27, 107, 150);
    /* rgb(27, 107, 150) */
    /* rgb(49, 99, 173) */
    /* rgb(206, 122, 112) */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

#header-bg {
    width: 100vw;
    height: 55vh;
    position: absolute;
    z-index: -2;
}
#header-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background) 100%);
    z-index: -2;
    pointer-events: none;
}
#header {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}
#header span {
    font-size: 4vh;
    color: black;
    padding: 2vh 2vw;
    border-radius: 10px;
    font-weight: bold;
}
