body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#header-bg {
    width: 100vw;
    height: 55vh;
    background-image: url("../assets/header-project.png");
    background-size: 50%;
    position: absolute;
    z-index: -2;
}
#header-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--background) 100%);
    z-index: -2;
    pointer-events: none;
}
#header {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}
#header span {
    /* background-color: white; */
    font-size: 4vh;
    color: black;
    padding: 2vh 2vw;
    border-radius: 10px;
    /* font-weight: bold; */
}

#main {
    display: flex;
}
#projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}
.max-w-sm {
    height: fit-content;
    padding: 1.7vh;
    background-color: white;
    margin: 0 2vh 2vh 2vh;
}
.second-line {
    margin-top: 5px;
}