body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#header-bg {
    background-image: url("../assets/header-project.png");
    background-size: 50%;
}


#main {
    display: flex;
    margin-top: 2vh;
}
#projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}
.max-w-sm {
    height: fit-content;
    padding: 1.7vh;
    background-color: white;
    margin: 0 2vh 2vh 2vh;
}
.second-line {
    margin-top: 5px;
}